<nav class="navbar navbar-expand-lg navbar-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">&nbsp;&nbsp;<i class="bi bi-brush-fill"></i> &nbsp; Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav p-2" style="font-size: large;">
            <li class="nav-item active m-2">
                <a class="nav-link" href="#"><b>Sample 1</b></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" [routerLink]="['/sample2']">Sample 2</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" [routerLink]="['/sample3']">Sample 3</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">
    <div class="row middle-bg">
        <div class="col-12" style="padding: 0px;">
            <br><br><br><br><br><br><br><br>
            <h1 style="font-family: Quicksand; font-size: 80px; padding-left: 100px; padding-bottom: 20px;">Be Beautiful</h1>
            <h2 style="font-family: Quicksand; font-size: 30px; padding-left: 100px">This is only a sample for portfolio purposes.</h2>
            <br><br><br><br><br><br><br><br>
            <!--img src="/assets/images/banner1.jpg" class="img-fluid" alt="Banner 1"-->
        </div>
    </div>

    <div class="row bg-color1">
        <div class="col-lg-8">
            <br><br><br><br>
            <p class="font1" style="font-size: 30px; padding-left: 100px; padding-bottom: 20px;"><b>Some Lines Here</b></p>
            <p class="font1" style="font-size: 30px; padding-left: 100px; ">This is a test website so stuff here are for fillers only.</p>
            <br><br><br><br>
        </div>
        <div class="col-lg-4">
            <br><br><br><br>
            <button type="button" class="btn btn-lg bg-color1 btn-outline text-black">View Catalog</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-lg bg-color2 text-white" style="border-radius: 0px;">Send A Message</button>
            <br><br><br><br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-lg-3">
            <div class="card no-rounded m-5">
                <img src="/assets/images/box1.png" class="card-img-top no-rounded" alt="Box 1">
                <div class="card-body">
                  <p class="card-text">Duis eu interdum augue. Mauris non iaculis augue. Nulla posuere mauris at aliquet accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <img src="/assets/images/box3.png" class="card-img-top no-rounded" alt="Box 1">
            </div>
        </div>
        <div class="col-md-auto">
            <div class="card no-rounded m-5">
                <img src="/assets/images/box2.png" class="card-img-top no-rounded" alt="Box 1">
                <div class="card-body">
                  <p class="card-text">Curabitur ut tortor dapibus, ultricies nulla ac, semper ante.</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card no-rounded m-5" >
                <img src="/assets/images/box3.png" class="card-img-top no-rounded" alt="Box 1">
                <div class="card-body">
                  <p class="card-text">hasellus non diam felis. Pellentesque nec pulvinar ipsum. Duis eu turpis pretium, feugiat lorem vitae, scelerisque metus. Pellentesque eu rutrum metus, nec laoreet dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere sem libero, in viverra dui cursus interdum.</p>
                </div>
                <img src="/assets/images/box1.png" class="card-img-top no-rounded" alt="Box 1">
            </div>
        </div>
    </div>

    <div class="row bg-light ">
        <div class="col-lg-12 text-center">
            <br><br><br>
            <h1 class="display-6 font1" style="font-size: 20px">This is a test.</h1>
            <h1 class="display-6 font1" style="font-size: 50px">Display 5</h1>
            <br>
            <h1 class="display-6 font1" style="font-size: 20px; padding-left: 200px; padding-right: 200px;">Phasellus non diam felis. Pellentesque nec pulvinar ipsum. Duis eu turpis pretium, feugiat lorem vitae, scelerisque metus. Pellentesque eu rutrum metus, nec laoreet dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere sem libero, in viverra dui cursus interdum. Proin suscipit pellentesque eleifend. Sed ut ante nec tellus interdum suscipit. Integer euismod sapien ante, ut maximus nibh venenatis non. Aliquam tristique lectus et rutrum lacinia. Donec nec cursus augue, finibus pharetra eros. Phasellus laoreet lacus quis sem accumsan vehicula. Vestibulum at efficitur eros, eu ultricies neque. Donec sit amet sem at erat elementum posuere. Sed pulvinar leo metus, quis vestibulum ipsum fringilla a.</h1>
            <br><br><br>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <h1 class="display-6 font1" style="font-size: 30px">About</h1>
            <h1 class="display-6 font1" style="font-size: 20px;">
                In massa lacus, ultrices in viverra a, laoreet id mi. Suspendisse libero lectus, fringilla consectetur sapien sed, bibendum viverra ligula. Etiam ac vestibulum enim, id scelerisque velit. Integer ullamcorper tempor odio, sit amet pellentesque elit. Sed efficitur nunc et tincidunt ullamcorper. Aenean in dignissim ante.
            </h1>
            <br><br>

            <h1 class="display-6 font1" style="font-size: 30px">Mission</h1>
            <h1 class="display-6 font1" style="font-size: 20px;">
                In massa lacus, ultrices in viverra a, laoreet id mi. Suspendisse libero lectus, fringilla consectetur sapien sed, bibendum viverra ligula. Etiam ac vestibulum enim, id scelerisque velit. Integer ullamcorper tempor odio, sit amet pellentesque elit. Sed efficitur nunc et tincidunt ullamcorper. Aenean in dignissim ante.
            </h1>
            <br><br>

            <h1 class="display-6 font1" style="font-size: 30px">Vision</h1>
            <h1 class="display-6 font1" style="font-size: 20px;">
                In massa lacus, ultrices in viverra a, laoreet id mi. Suspendisse libero lectus, fringilla consectetur sapien sed, bibendum viverra ligula. Etiam ac vestibulum enim, id scelerisque velit. Integer ullamcorper tempor odio, sit amet pellentesque elit. Sed efficitur nunc et tincidunt ullamcorper. Aenean in dignissim ante.
            </h1>
            <br><br>
        </div>
        <div class="col-lg-4">
            <img src="/assets/images/box4.png" class="card-img-top no-rounded" alt="Box 1">
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-12">
            <br><br><br>
        </div>

    </div>

    <div class="row bottom-bg text-center">
        <div class="col-12" style="padding: 0px;">        
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="text-white font1" style="font-size: 80px; padding-bottom: 20px;">Another Punchline</h1>
            <h2 class="text-white font1" style="font-size: 30px;">This is only a sample for portfolio purposes.</h2>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <div class="row bg-color4 text-white">
        <div class="col-12">
            <br><br>
        </div>
        <div class="col-lg-4 m-5 font1">
            <h1 style="font-size: 30px;"><i class="bi bi-briefcase"></i> Visit Our Store</h1>
            <br>
            Curabitur ut tortor dapibus, ultricies nulla ac, semper ante. Proin vel blandit enim, ut laoreet nunc. Vestibulum tristique dolor urna, id maximus sapien convallis a. Nulla ac diam blandit ante aliquam pulvinar ut et diam. 
        </div>
        <div class="col-lg-3 m-5 font1">
            <h1 style="font-size: 30px;"><i class="bi bi-calendar-check"></i> Contact Us</h1>
            <br>
            Test Line Contact 1<br>
            219381923<br>
            Test Line Fax #343234<br>
        </div>
        <div class="col-lg-3 m-5 font1">
            <h1 style="font-size: 30px;"><i class="bi bi-car-front"></i> Email Us Now</h1>
            <br>
            something@something.something<br>
            something@something.something
        </div>
        <div class="col-12">
            <br><br>
        </div>
    </div>

</div>


